body{
    font-family: sans-serif;
    background-color: rgb(181, 255, 230);
    text-align: center;
    overflow-y: hidden;
}
#cont1{
    font-size: x-large;
    font-family: sans-serif;
}
input{
    color: #abdfff;
    background-color: rgb(0, 112, 134);
    border-radius: 15px;
    border: 2px rgb(100, 100, 100) solid;    
}
input:hover{
    color: black;
}
div{
    padding: 20px 20px;
    color: #fff;
    margin:10px auto;
    border: 4px black solid;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background-color: #ea9fff;
    width: 300px;
    height: 200px;
}